@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
:root {
 --title-font: 'Silkscreen', sans-serif;
 --dark: #031e19;
 --light: #fcfaf8;
 --accent1: #38bfd3;
 --accent2: #cb2327;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--title-font);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--light);
}

.title {
  font-family: var(--title-font);
  text-align: center;
  font-size: 3rem;
}

.info {
  text-align: center;
}

.page ul {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-gap: 1rem;
  justify-content: center;
  list-style: none;
  margin: 2rem auto;
}

.page ul .location {
  width: 260px;
  height: 260px;
  cursor: pointer;
  transition: all .1s ease-in;
}

.page ul .location:hover {
  transform: scale(1.025);
}

.page ul .location:hover img {
  border: 2px solid var(--accent2);
}

.page ul .location:hover p {
  border-left: 2px solid var(--accent2);
  border-right: 2px solid var(--accent2);
  border-bottom: 2px solid var(--accent2);
}

.page ul .location img {
  width: 260px;
  border-radius: 5px;
  border: 2px solid var(--light);
}

.page ul .location p {
  position: relative;
  bottom: 3.75rem;
  z-index: 100;
  background-color: var(--light);
  color: var(--dark);
  padding: 1rem .5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 2px solid var(--light);
  border-right: 2px solid var(--light);
  border-bottom: 2px solid var(--light);
}

/* ENCOUNTER */

.App .encounter {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .encounter .enemy-container {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .encounter .enemy-container img,
.App .encounter .ally-container img {
  image-rendering: pixelated;
  width: 200px;
  height: 200px;
}

.App .encounter .info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5%;
}

.App .encounter .info-container button {
  padding: .5rem .25rem;
  border: 1px solid var(--light);
  border-radius: 5px;
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
  transition: all .1s ease-in-out;
  font-size: .875rem;
}

.App .encounter .info-container button:hover {
  background-color: var(--accent2);
  border: 1px solid var(--accent2);
  color: var(--light);
}

.App .encounter .ally-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.App .encounter .ally-container div {
  text-align: center;
  border: 2px solid var(--light);
  border-radius: 5px;
  padding: .5rem;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.App .encounter .ally-container div:hover {
  border: 2px solid var(--accent2);
}

.App .encounter .ally-container div:hover img {
  transform: scale(1.1);
}

.App .encounter .ally-container div p {
  background-color: var(--light);
  color: var(--dark);
}

.App .encounter .ally-container div:hover p {
  background-color: var(--accent2);
  color: var(--light);
}

.App .battle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100vh;
  margin: auto;
}
.App .battle .enemy-container{
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
  font-size: 1.25rem;
}
.App .battle .slide-in-left {
  animation-duration: 1s;
  animation-name: slidefromleft;
}

.App .battle .ally-container{
  height: 40%;
  display: flex;
  align-items: flex-end;
  font-size: 1.25rem;
}

.App .battle .slide-in-right {
  animation-duration: 1s;
  animation-name: slidefromright;
}

.App .battle .info-container {
  height: 10%;
  font-size: 1.25rem;
}

.App .battle .info-container button {
  padding: .5rem .25rem;
  border: 1px solid var(--light);
  border-radius: 5px;
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
  transition: all .1s ease-in-out;
  font-size: .875rem;
  position: absolute;
  right: 30%;
  bottom: 5%;
}

.App .battle .info-container button:hover {
  background-color: var(--accent2);
  border: 1px solid var(--accent2);
  color: var(--light);
}

.App .battle .ally-container img,
.App .battle .enemy-container img {
  image-rendering: pixelated;
  width: 400px;
  height: 400px;
}

.App .battle .ally-container .ally-data {
  width: 400px;
}

.App .battle .enemy-container .enemy-data {
  width: 400px;
}

@keyframes slidefromright {
 from {
  margin-left: 120%;
 }
 to {
  margin-left: 0%;
 }
}

@keyframes slidefromleft {
 from {
  margin-right: 120%;
 }
 to {
  margin-right: 0%;
 }
}

.w3-large {
  color: var(--dark);
  text-align: center !important;
}

.w3-container.w3-green {
  color: var(--dark) !important;
}